@import url(meta/themes/catppuccin-mocha.css);

@font-face {
  font-family: "Iosevka";
  src: url("meta/fonts/IosevkaNerdFont-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("meta/fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

* {
  font-family: "JetBrains Mono Medium";
  background: #2e2e2e;
  color: #ffffff;
  text-decoration: none;
 }

 /* nav bar */

nav {
  background: #272727;
  position: relative;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ffffff;
  justify-items: center;
}

nav a:hover {
  background: #1e1e1e;
}

nav a {
  background: inherit;
  display: inline-flex;
  align-items: center;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  background: inherit;
}

/* body */
body {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

/* index page */
div .indexImage {
  max-width: 60%;
}

.indexImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* socials page */
.socials-table {
  width: 100%;
}
.socials-table tr td {
  background: #1e1e1e;
  border-radius: 3px;
  padding: 20px;
  max-width: 30px !important;
  vertical-align: top;
}

.socials-table tr td:hover {
  cursor: pointer;
}

.socials-table tr td img {
  max-width: 30%;
}

/* QR CODE  */
.qr-code {
  display: none;
}

.qr-code.show {
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}