@import url(meta/themes/catppuccin-mocha.css);

@font-face {
  font-family: "Iosevka";
  src: url("meta/fonts/IosevkaNerdFont-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("meta/fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

* {
  font-family: "JetBrains Mono Medium";
  background: #2e2e2e;
  color: #ffffff;
  text-decoration: none;
 }

 /* nav bar */

nav {
  background: #272727;
  position: relative;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ffffff;
  justify-items: center;
}

nav a:hover {
  background: #1e1e1e;
}

nav a {
  background: inherit;
  display: inline-flex;
  align-items: center;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  background: inherit;
}

/* body */
body {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

/* index page */
.indexImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexImage img {
  max-width: 100%;
}

p.center {
  justify-content: center;
  display: flex;
  margin: auto;
}

div.now-playing, span#now-playing{
  background-color: #1e1e1e;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 100%;
  width: fit-content;
  border-radius: 10px;
}


/* socials page */
.socials-table {
  width: 100%;
}

.socials-table div.social-link {
  background: #1e1e1e;
  border-radius: 3px;
  padding: 20px;
  vertical-align: top;
  padding-inline: 50px;
  display: inline-block;
  min-width: 20%;
  max-width: 20%;
}

.socials-table div.social-link:hover {
  cursor: pointer;
}

.socials-table div.social-link img {
  max-width: 100%;
}

/* QR CODE  */
.qr-code {
  display: none;
}

.qr-code.show {
  display: flex;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}